/* LoginPage.module.css */
.loginContainer {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 9rem;
}

.inputContainer {
  margin-bottom: 15px;
}

.loginButton {
  background-color: #1a0084;
  color: white;
  padding: 7px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.loginButton:hover {
  background-color: #45a049;
}

.message {
  margin-top: 15px;
  color: #4caf50;
}
