$login-container-width: 400px;
$login-input-height: 40px;
$login-button-height: 55px;
$login-button-color: #4557dc;
$border-color: #000000;
$login-placeholder-color: #000000;
$login-font: "Inter", sans-serif;
$login-font-size: 1rem;

.login__background-image {
  & img {
    position: absolute;
    z-index: -1;
    width: 98vw;
    height: 100vh;
  }
}

.login {
  width: $login-container-width;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__title {
    color: #353a48;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    font-family: $login-font;
  }

  &__form {
    display: flex;
    flex-direction: column;

    &-link {
      width: fit-content;
      margin-left: 35%;
      margin-top: 1.1rem;
      color: #535457;
      text-decoration: none;
      font-weight: medium;
      font-family: $login-font;
    }

    &-button {
      width: 100%;
      height: $login-button-height;
      margin: 10px 0;
      padding: 10px;
      background-color: $login-button-color;
      color: white;
      border: none;
      font-size: 1.2rem;
      border-radius: 5px;

      &:hover {
        cursor: pointer;
        background-color: #4d5fe7;
      }
    }

    &-password {
      display: flex;
      &-lock {
        margin-top: 20px;
        margin-right: 5px;
        font-size: 2.4rem;
        color: #393939;
      }
    }

    &-email-input,
    &-password-input {
      width: 100%;
      height: $login-input-height;
      margin: 10px 0;
      padding: 10px;
      border: none;
      background-color: transparent;
      font-size: $login-font-size;
      &::placeholder {
        font-weight: medium;
        font-family: $login-font;
      }
      &:focus {
        border: none;
      }
    }

    &-email-input {
      border-bottom: 2px solid $border-color;
    }

    &-password-input {
      color: #000000;
      border-radius: 5px;
      &::placeholder {
        color: $login-placeholder-color;
      }
    }
  }
}
