.myfile__dark-button {
  width: 100%;
  height: 55px;
  margin: 10px 0;
  padding: 10px;
  background-color: #4557dc;
  color: white;
  border: none;
  font-size: 1.2rem;
  border-radius: 5px;
}

.myfile__dark-button:hover {
  cursor: pointer;
  background-color: #4d5fe7;
}
