.profile {
  color: white;
  min-height: 100vh;
  background-color: #0c1d87;
  font-family: Arial, sans-serif;
}
.profile__secondpart {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto;
}
.profile__name {
  width: 80%;
  margin: 1.4rem auto;
}
.profile__secondpart-transaction {
  width: 50%;
  /* margin: auto; */
}
.profile__secondpart-content {
  width: 100%;
}
.profile__secondpart-values {
  width: 25%;
  margin-bottom: 1.5rem;
}

.profile__secondpart-title {
  font-weight: 600;
  color: rgba(255, 255, 255, 0.632);
  margin-bottom: 1.5rem;
}

.profile__secondpart-transaction {
  margin-left: 18rem;
}

@media screen and (min-width: 950px) and (max-width: 1180px) {
  .profile__secondpart {
    display: flex;
    justify-content: none;
    width: 80%;
    margin: auto;
  }
  .profile__secondpart-transaction {
    margin-left: 2vw;
  }
  .profile__name {
    width: 75vw;
    margin: 1.4rem auto;
  }
}

@media screen and (max-width: 980px) {
  .profile__secondpart {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  .profile__name {
    width: 70vw;
    margin: 1.4rem auto;
  }
  .profile__secondpart-transaction {
    margin-left: 1vw;
  }
  .profile__secondpart-values {
    width: 80%;
    margin: auto;
    margin-bottom: 5rem;
  }
  .profile__secondpart-transaction {
    width: 86%;
    margin: auto;
  }
}

@media screen and (max-width: 890px) {
  .profile__name {
    width: 65vw;
    margin: 1.4rem auto;
  }
}
