$background-color: #0f0f2f;
$text-color: #ffffff;
$font-family: Arial, sans-serif;

.profile {
  color: white;
  min-height: 100vh;
  background-color: #0c1d87;
}
.profile__secondpart {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto;
}
.profile__secondpart-transaction {
  width: 50%;
  margin: auto;
}
