.values {
  display: flex;
  align-items: center;
  width: 100%;
  color: white;
  font-family: "Inter", sans-serif;
}

.values__content {
  flex: 1;
  font-size: 16px;
  font-weight: 400;
}

.values__content-right {
  display: flex;
  align-items: center;
}

.values__content-right-coin {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.values__content-right-coin img {
  width: 80%;
  height: 80%;
  margin-top: 1px;
}

.values__content-right-value {
  font-size: 14px;
}
